			body {
    		margin: auto;
        background: url(wallpaper.jpg) no-repeat center center fixed;
        background-size: cover;
			}
			header {
				transition: 0.7s;
			}
			header:hover {
				background-color: black;
				box-shadow: 0px 5px 10px black;
			}
			header nav ul {
   			font-family:'Helvetica', 'Arial', 'Sans-Serif';
   	 		padding: 20px;
				margin: 0px;
  	  	font-weight: bold;
  			display: flex;
  			justify-content: space-evenly;
			}
			header nav ul a {
				text-decoration: none;
				color: white;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 35px;
				padding-right: 35px;
				border-radius: 20px;

  			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
  			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  			-webkit-transition-duration: 0.5s;
  			transition-duration: 0.5s;

			}
			header nav ul a:hover {
				filter: brightness(500%);
				transition: 0.3s;
			}
			header nav ul li {
    		display: inline;
			}
			article {
				width: 80%;
				margin: auto;
			}
			article section aside {
				float: right;
			}
			article section aside img {
				border-radius: 40px;
			}
			article section h1 {
				color: white;
    		font-size: 50px;
   		 	font-family:'Helvetica', 'Arial', 'Sans-Serif';
			}
			article section p {
				color: white;
   		  font-size: 20px;
				font-family: Tahoma, Geneva, sans-serif;
   		  line-height: 40px;
			}

			article section div nav a{
				color: white;
				text-decoration: none;
			}
			article section div nav a:hover{
				opacity: 0.5;
				transition: 0.3s;
			}

			footer {
   			border-top: 1px solid white;
				width: 80%;
				margin: auto;
			}
			footer ul {
				text-align: center;
			}
			footer ul li {
    		display: inline;
    		margin-right: 2px;
				margin-left: 2px;
				font-size: 12px;
				font-weight: bold;
				font-family:'Helvetica', 'Arial', 'Sans-Serif';
			}
			footer ul a {
   			text-decoration: none;
				color: white;
			}
			footer ul a:hover {
				opacity: 0.5;
				transition: 0.3s;
			}