div.View.code

  doctype html
  head
    title Code
    meta(charset='utf-8')
    meta(name='author' content='Simon Markus')
    meta(name='keywords' content='Simon, Markus, tricks, code, advice')
    meta(name='description' content="Simons' code and tricks")
    link(rel='stylesheet' href='style.css' type='text/css')
  header
    nav
      ul
        li
          a(href='index') Home
        li
          a(href='code' style='border: 3px solid white;') Code
        li
          a(href='travel') Travel
        li
          a(href='feedback') Feedback
  article
    section.codeintro
      div
        p
          q#codeintro My number one piece of advice is; you should learn how to program.
          br
          br
          cite Mark Zuckerberg, in a 2011 interview by Charlie Rose
    section#aboutme.aboutme
      .personal
        cite Personal statement: 
      .message
        p
          blockquote
            | During my journey from High School to University, I have transitioned from a C average student who had very little ambition to succeed in life to a near 4.0 GPA Computer Science student. Over the last two years, my interest in programming has dramatically increased, and I have been able to create many interesting projects, such as this personal website. I hope to whoever is reading this enjoys the explanation of my personal work.
      .signature
        cite -Simon M.
    section.codeintro2
      .projectTitle
        h1#codeintro2 My Projects
      .projectLink
        a.personalbgd1(href='personalwebsite')
          p Personal Website
      .projectLink
        a.personalbgd2(href='foodmachinesoftware')
          p Food Machine Software
      .projectLink
        a.personalbgd3(href='covid19prioritizer')
          p COVID-19 Prioritizer
      .projectLink
        a.personalbgd4(href='datatree')
          p Data Tree
  footer
    ul
      li
        a(href='mailto:simon.markus@siu.edu' target='_blank') email
      li
        a(href='https://github.com/markusovich' target='_blank') github
      li
        a(href='https://www.linkedin.com/in/simon-m-857b60190' target='_blank') linkedin
      li(style='color:white; margin: 1px;') &copy; 2020 Simon Markus, SIUC.
