div.View.projectcode

  doctype html
  head
    title Covid-19 Prioritizer
    meta(charset='utf-8')
    meta(name='author' content='Simon Markus')
    meta(name='keywords' content='Simon, Markus, website')
    meta(name='description' content="Simons' personal website")
    link(rel='stylesheet' href='style.css' type='text/css')
  header
    nav
      ul
        li
          a(href='index') Home
        li
          a(href='code' style='border: 3px solid white;') Code
        li
          a(href='travel') Travel
        li
          a(href='feedback') Feedback
  article
    section
      div
        p &lt;Content goes here&gt;
  footer
    ul
      li
        a(href='mailto:simon.markus@siu.edu' target='_blank') email
      li
        a(href='https://github.com/markusovich' target='_blank') github
      li
        a(href='https://www.linkedin.com/in/simon-m-857b60190' target='_blank') linkedin
      li(style='color:white; margin: 1px;') &copy; 2020 Simon Markus, SIUC.
