<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Feedback</title>
		<meta charset="utf-8">
		<meta name="author" content="Simon Markus">
		<meta name="keywords" content="Simon, Markus, website, feedback">
		<meta name="description" content="Simons' personal website and miscellaneous">
		<link rel="stylesheet" href="style.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script>
		function submitForm() {
  		var form = document.getElementById("formData");
  		if (form.checkValidity() == true) {
   			alert("Email sent to email address specified.");
  		}
		} 
		</script>
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
				$scope.first= "Joe";
				$scope.last= "Schmo";
			});
		</script>
		<noscript>
			<p style="color:white;">This web page uses JavaScript. For proper results, you must use a web browser with JavaScript enabled.</p>
		</noscript>
	</head>

	<body class = "extra">

		<header>
			<nav>
    		<ul>
					<li><a href="index.htm">Home</a></li>
					<li><a href="Code.html">Code</a></li>
       				<li><a href="Travel.html">Travel</a></li>
					<li><a href="Feedback.html" style="border: 3px solid white;">Feedback</a></li>
    		</ul>
			</nav>
		</header>

		<article>

			<section class="formSection">

				<form id="formData" method="POST" action="/submit">
					<div class="photo">
						<img src="img-01.png" alt="mailpic">
					</div>
					<div class="list" ng-app="myApp" ng-controller="myCtrl">
						<h3 style="color: black; font-family: Tahoma, Geneva, sans-serif;">Feedback is appreciated :)</h3>
						<input type="text" ng-model="first" name="first" id="first" placeholder="First name" pattern="[a-zA-Z]+" autofocus required /><br> 
						<input type="text" ng-model="last" name="last" id="last" placeholder="Last name" pattern="[a-zA-Z]+" required /><br>
						<input type="tel" name="phone" id="phone" pattern="[0-9]{10}" placeholder="10 digit phone number" required /><br>
						<input type="email" name="email" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required /><br><br>
						<p style="color:black; text-shadow: none; font-family:'Lucida Console', monospace;">Welcome, {{first + ' ' + last}}!</p><br>
						<textarea name='comment' id='comment' placeholder="Comment"></textarea><br>
						<input class="submitkey" type="submit" value="Submit &rarr;" onclick = "submitForm()">
					</div>
				</form>

			</section>

		</article>

		<footer>
    	<ul>
      	<li><a href="mailto:simon.markus@siu.edu" target="_blank">email</a></li>
				<li style="color:white;">&centerdot;</li>
        <li><a href="https://github.com/markusovich" target="_blank">github</a></li>
				<li style="color:white;">&centerdot;</li>
				<li><a href="https://www.linkedin.com/in/simon-m-857b60190" target="_blank">linkedin</a></li>
				<li style="color:white;">&centerdot;</li>
				<li style="color:white; margin: 1px;">&copy; 2020 Simon Markus, SIUC.</li>
			</ul>
		</footer>
	</body>

</html>