<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/65913c67fd.js" crossorigin="anonymous"></script>        
        <link rel ="stylesheet" href="style.css" type="text/css">
        <title>Simon Markus Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body class = "home">

			<header>
				<nav>
    			<ul>
						<li><a href="index.htm" style="border: 3px solid white;">Home</a></li>
						<li><a href="Work.html">Projects</a></li>
       			<li><a href="Travel.html">Travel</a></li>
						<li><a href="Feedback.html">Feedback</a></li>
    			</ul>
				</nav>
			</header>

      <div class="box">
        <a href="#"><img src="pic.jpeg" alt="" class="box-img"></a>
        <h1 id="typewriter">Simon Markus</h1>
        <h5>Computer Science @ SIUC</h5>
        <p style="text-align: center; line-height: 130%;">Computer Science student with an interest in software engineering and machine learning. Welcome to my website where I display my skills.</p>
        <ul>
            <li><a href="https://github.com/markusovich" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/simon-m-857b60190/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a download href="Simon Markus Resume.pdf"><i class="fas fa-newspaper" target="_blank"></i></a></li>
        </ul>
      </div>

		<footer>
    	<ul>
      	<li><a href="mailto:simon.markus@siu.edu" target="_blank">email</a></li>
				<li style="color:white;">&centerdot;</li>
        <li><a href="https://github.com/markusovich" target="_blank">github</a></li>
				<li style="color:white;">&centerdot;</li>
				<li><a href="https://www.linkedin.com/in/simon-m-857b60190" target="_blank">linkedin</a></li>
				<li style="color:white;">&centerdot;</li>
				<li style="color:white; margin: 1px;">&copy; 2020 Simon Markus, SIUC.</li>
			</ul>
		</footer>
    
    </body>
    
</html>