<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Personal Website</title>
		<meta charset="utf-8">
		<meta name="author" content="Simon Markus">
		<meta name="keywords" content="Simon, Markus, website">
		<meta name="description" content="Simons' personal website and miscellaneous">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>

	<body class = "projectcode">

		<header>
			<nav>
    		<ul>
					<li><a href="index.htm">Home</a></li>
					<li><a href="Work.html" style="border: 3px solid white;">Projects / Internships</a></li>
       		<li><a href="Travel.html">Travel</a></li>
					<li><a href="Feedback.html">Feedback</a></li>
    		</ul>
			</nav>
		</header>

		<article>
			
			<section class="title">
				<div>
					<h1 style="text-align: center">Personal Website</h1>
					<br><br>
				</div>
			</section>

			<section class="content">

				<div class="about">
					<h3 style="color: white; font-size: 30px;">ABOUT</h3>
				</div>
				<div class="aboutdesc">
					<p>I created this website to showcase my achievements and demonstrate my ability in website development.</p>
				</div>

				<div class="htmlcss">
					<h3 style="color: white; font-size: 30px;">HTML & CSS</h3>
				</div>
				<div class="htmlcssdesc">
					<p>HTML & CSS features include but are not limited to: title, meta, style, div, p, hr, br, blockquote, 
						q, cite, ul, li, header, footer, nav, section, 
						article, aside, figure, figcaption, a, class selectors, id selectors, color properties, 
						text properties, box-shadow, box model, sticky header, and parallax scrolling.</p>
					<p>I have used HTML & CSS in a way to make this website in a creative fashion and to maximize it's neatness and style.</p>
				</div>

				<div class="javascript">
					<h3 style="color: white; font-size: 30px;">JAVASCRIPT</h3>
				</div>
				<div class="javascriptdesc">
					<p>Website contains a dash of javascript.</p>
					<p>Used javascript to create dynamic onclick functions, that do a variety of actions.</p>
					<p>Actions include; form validation, and pop-up confirmations.</p>
				</div>

				<div class="nodeexpress">
					<h3 style="color: white; font-size: 30px;">NODE & EXPRESS</h3>
				</div>
				<div class="nodeexpressdesc">
					<p>Nodejs and Expressjs used as server side work.</p>
					<p>Using this software has enabled me to store form data, use form data to send 
						emails to recipient, and host website online.
					</p>
				</div>

				<div class="mongo">
					<h3 style="color: white; font-size: 30px;">MONGODB</h3>
				</div>
				<div class="mongodesc">
					<p>Mongodb and it's database technology has organized my data greatly.</p>
					<p>I am now able to store user feedback data in my own database.</p>
					<p>Mongodb has allowed me to use database information, such as 
						the size of the database, or if a certain user is already in the database.
					</p>
				</div>

				<div class="angular">
					<h3 style="color: white; font-size: 30px;">ANGULAR</h3>
				</div>
				<div class="angulardesc">
					<p>I have not used many angular features or technology, but I have enabled output 
						value live on ng-click.
					</p>
				</div>

			</section>

		</article>

		<footer>
    	<ul>
      	<li><a href="mailto:simon.markus@siu.edu" target="_blank">email</a></li>
				<li style="color:white;">&centerdot;</li>
        <li><a href="https://github.com/markusovich" target="_blank">github</a></li>
				<li style="color:white;">&centerdot;</li>
				<li><a href="https://www.linkedin.com/in/simon-m-857b60190" target="_blank">linkedin</a></li>
				<li style="color:white;">&centerdot;</li>
				<li style="color:white; margin: 1px;">&copy; 2020 Simon Markus, SIUC.</li>
			</ul>
		</footer>
	</body>

</html>