<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Feedback</title>
		<meta charset="utf-8">
		<meta name="author" content="Simon Markus">
		<meta name="keywords" content="Simon, Markus, website, feedback">
		<meta name="description" content="Simons' personal website and miscellaneous">
		<link rel="stylesheet" href="style.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>

	<body class = "extra">

		<header>
			<nav>
    		<ul>
					<li><a href="index.htm">Home</a></li>
					<li><a href="Code.html">Code</a></li>
       		<li><a href="Travel.html">Travel</a></li>
					<li><a href="Feedback.html" style="border: 3px solid white;">Feedback</a></li>
    		</ul>
			</nav>
		</header>

		<article> 

			<section class="formSection">

				<h1>Thank you. Your feedback has been recorded :)</h1>

			</section>

		</article>

		<footer>
    	<ul>
      	<li><a href="mailto:simon.markus@siu.edu" target="_blank">email</a></li>
				<li style="color:white;">&centerdot;</li>
        <li><a href="https://github.com/markusovich" target="_blank">github</a></li>
				<li style="color:white;">&centerdot;</li>
				<li><a href="https://www.linkedin.com/in/simon-m-857b60190" target="_blank">linkedin</a></li>
				<li style="color:white;">&centerdot;</li>
				<li style="color:white; margin: 1px;">&copy; 2020 Simon Markus, SIUC.</li>
			</ul>
		</footer>
	</body>

</html>