<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Projects/Internships</title>
		<meta charset = "utf-8">
		<meta name = "author" content="Simon Markus">
		<meta name = "keywords" content="Simon, Markus, projects">
		<meta name = "description" content="Simons' projects">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>

	<body class="code">

		<header>
			<nav>
    		<ul>
				<li><a href="index.htm">Home</a></li>
				<li><a href="Work.html" style="border: 3px solid white;">Projects</a></li>
       			<li><a href="Travel.html">Travel</a></li>
				<li><a href="Feedback.html">Feedback</a></li>
    		</ul>
			</nav>
		</header>

	<article>

		<section class="codeintro">
			<div>
				<p><q id="codeintro">My number one piece of advice is; you should learn how to program.</q><br><br><cite>Mark Zuckerberg, in a 2011 interview with Charlie Rose</cite></p>
			</div>
		</section>

		<section class="aboutme" id="aboutme">
			<div class="personal"><cite>Personal statement: </cite></div>
			<div class="message">
				<p><blockquote>During my journey from High School to University, I have transitioned from a mediocre student who had very little ambition to succeed in school to an accomplished Computer Science student. Over the last two years, my interest in programming has dramatically increased, and I have been able to create many interesting projects, such as this personal website. I hope to whoever is reading this enjoys the explanation of my personal work.</blockquote></p>
			</div>
			<div class="signature"><cite>-Simon M.</cite></div>
		</section>

		<section class="codeintro2">
			<div class="projectTitle">
				<h1 id="codeintro2">My Projects</h1>
			</div>
			<div class="projectLink">
				<a href="personalWebsite.html" class="personalbgd1"><p>Personal Website</p></a>
			</div>
		</section>

	</article>

		<footer>
    	<ul>
      	<li><a href="mailto:simon.markus@siu.edu" target="_blank">email</a></li>
				<li style="color:white;">&centerdot;</li>
        <li><a href="https://github.com/markusovich" target="_blank">github</a></li>
				<li style="color:white;">&centerdot;</li>
				<li><a href="https://www.linkedin.com/in/simon-m-857b60190" target="_blank">linkedin</a></li>
				<li style="color:white;">&centerdot;</li>
				<li style="color:white; margin: 1px;">&copy; 2020 Simon Markus, SIUC.</li>
			</ul>
		</footer>
	</body>

</html>